<div class="container my-4">
    <div class="row d-flex justify-content-between">
        <div class="col">
            <h1>Movies List</h1>
            <p class="text-muted">
                Here you can manage your movie collection. Add, edit, or delete movies as needed.
            </p>
        </div>
        <div class="col-auto">
            <button
                class="btn btn-success"
                (click)="showAddMovieModal = true"
            >
            <i class="bi bi-plus"></i>
                Add Movie
            </button>
        </div>
    </div>
</div>
<div class="container">
    <div
        *ngIf="!isLoading"
        class="card shadow-sm rounded-4 p-3"
    >
        <div
            *ngIf="movies.length === 0; else moviesTable"
            class="text-center"
        >
            No movies to show.
        </div>
        <ng-template #moviesTable>
            <table class="table align-middle">
                <thead class="table-light">
                    <tr>
                        <th>Title</th>
                        <th>Description</th>
                        <th class="text-center">Date Added</th>
                        <th class="text-center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let movie of movies">
                        <td>{{ movie.title }}</td>
                        <td>{{ movie.description }}</td>
                        <td class="text-center">{{ movie.date_added }}</td>
                        <td class="text-center">
                            <a
                                [routerLink]="['/movie', movie.id]"
                                class="btn btn-sm btn-outline-primary"
                            >
                                <i class="bi bi-eye"></i>
                                View
                            </a>
                            <button
                                class="btn btn-sm btn-outline-danger ms-2"
                                (click)="openDeleteMovieModal(movie)"
                            >
                                <i class="bi bi-trash"></i>
                                Delete
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </ng-template>
    </div>
</div>
  
<!-- Add Movie Modal -->
<div
    *ngIf="showAddMovieModal"
    class="modal fade show d-block"
    tabindex="-1"
    aria-labelledby="addMovieModalLabel"
    aria-modal="true"
    role="dialog"
>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5
                    class="modal-title"
                    id="addMovieModalLabel"
                >
                        Add Movie
                </h5>
                <button
                    class="btn-close"
                    aria-label="Close"
                    (click)="closeAddMovieModal()"
                ></button>
            </div>
            <form
                [formGroup]="movieForm"
                (ngSubmit)="addMovie()"
                enctype="multipart/form-data"
            >
                <div class="modal-body">
                    <div class="mb-3">
                        <label
                            for="title"
                            class="form-label"
                        >
                            Title
                        </label>
                        <input
                            type="text"
                            class="form-control"
                            id="title"
                            placeholder="Enter movie title"
                            formControlName="title"
                            [ngClass]="{'is-invalid': movieForm.get('title')?.touched && movieForm.get('title')?.invalid}"
                        >
                        <div
                            *ngIf="movieForm.get('title')?.touched && movieForm.get('title')?.invalid"
                            class="small-text text-danger mt-1"
                        >
                            <div *ngIf="movieForm.get('title')?.errors?.['required']">
                                Title is required.
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label
                            for="description"
                            class="form-label"
                        >
                            Description
                        </label>
                        <textarea
                            class="form-control"
                            id="description"
                            placeholder="Write a short description"
                            formControlName="description"
                            [ngClass]="{'is-invalid': movieForm.get('description')?.touched && movieForm.get('description')?.invalid}"
                        ></textarea>
                        <div
                            *ngIf="movieForm.get('description')?.touched && movieForm.get('description')?.invalid"
                            class="small-text text-danger mt-1"
                        >
                            <div *ngIf="movieForm.get('description')?.errors?.['required']">
                                Description is required.
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label
                            for="video"
                            class="form-label"
                        >
                            Video File
                        </label>
                        <input
                            type="file"
                            class="form-control"
                            id="video"
                            (change)="onFileChange($event)"
                            accept="video/*"
                            [ngClass]="{'is-invalid': movieForm.get('video')?.touched && movieForm.get('video')?.invalid}"
                        >
                        <div
                            *ngIf="movieForm.get('video')?.touched && movieForm.get('video')?.invalid"
                            class="small-text text-danger mt-1"
                        >
                            <div *ngIf="movieForm.get('video')?.errors?.['required']">
                                Video file is required.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button
                        class="btn btn-outline-secondary"
                        (click)="closeAddMovieModal()"
                    >
                        Close
                    </button>
                    <button type="submit" class="btn btn-primary">
                        Add
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Confirm Remove Movie Modal -->
<div
    *ngIf="showDeleteMovieModal"
    class="modal fade show d-block"
    tabindex="-1"
    aria-labelledby="deleteMovieModalLabel"
    aria-modal="true"
    role="dialog"
>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5
                    class="modal-title"
                    id="deleteMovieModalLabel"
                >
                    Confirm Deletion
                </h5>
                <button
                    class="btn-close"
                    aria-label="Close"
                    (click)="closeDeleteMovieModal()"
                ></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete <strong>{{ selectedMovie?.title }}</strong>?
            </div>
            <div class="modal-footer">
                <button
                    class="btn btn-outline-secondary"
                    (click)="closeDeleteMovieModal()"
                >
                    Cancel
                </button>
                <button
                    class="btn btn-danger"
                    (click)="deleteMovie()"
                >
                    Delete
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Toast notification -->
<div 
    *ngIf="showToast"
    class="toast align-items-center text-white border-0" 
    role="alert" 
    aria-live="assertive" 
    aria-atomic="true"
    [ngClass]="{
        'bg-success': !!successMessage, 
        'bg-danger': !!errorMessage,
        'show': showToast
    }"
>
    <div class="d-flex">
        <div
            *ngIf="successMessage"
            class="toast-body"
        >
        {{ successMessage}}
        </div>
        <div
            *ngIf="errorMessage"
            class="toast-body"
        >
        {{ errorMessage }}
        </div>
        <button
            class="btn-close btn-close-white me-2 m-auto"
            (click)="hideToast()"
            aria-label="Close"
        ></button>
    </div>
</div>
  